# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                                           @bryan-hunter

# Shared
shared                                      @bryan-hunter

# react-app
apps/react-app                              @bryan-hunter
